.mainChat
  .mainTop
    .groupInfo
      .groupInfo__groupName
        岡山家
      %ul.groupInfo__memberList
        Member : 
        %li.groupInfo__memberList__first
          かなた
        %li.groupInfo__memberList__second
          みゆ
    =link_to "#",class:"editBtn" do
      .editBox
        Edit

  .messageList
    .messageInfo
      .messageInfo__userName
        かなた
      .messageInfo__postDate
        2020/01/02(tue)17:17:22
    .message
      おはよう

    .messageInfo
      .messageInfo__userName
        みゆ
      .messageInfo__postDate
        2020/01/02(tue)18:17:22
    .message
      こんばんちゃ

  = form_for [@group, @message] ,html:{class:"messageForm"} do |f|
    .messageForm__formBox
      = f.text_field :content, class: 'messageForm__formBox__textBox', placeholder: 'type a message'
      = f.label :image, class: 'messageForm__formBox__photoBtn' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'messageForm__formBox__photoBtn--extra'
    = f.submit 'Send', class: 'messageForm__sendBtn'
