.mainChat
  .mainTop
    .groupInfo
      .groupInfo__groupName
        = @group.name
      %ul.groupInfo__memberList
        Member : 
        %li.groupInfo__memberList__first
          - @group.users.each do |user|
            = user.name

    =link_to edit_group_path(@group.id),class:"editBtn" do
      .editBox
        Edit

  .messageList
    = render partial: "message", collection: @messages 

  = form_for [@group, @message] ,html:{class:"messageForm"} do |f|
    .messageForm__formBox
      = f.text_field :content, class: 'messageForm__formBox__textBox', placeholder: 'type a message'
      = f.label :image, class: 'messageForm__formBox__photoBtn' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'messageForm__formBox__photoBtn--extra'
    = f.submit 'Send', class: 'messageForm__sendBtn'
